@charset "utf-8";

/*
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*/
/* MINDsLab. UX/UI Team. rms. 20181116 */

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#f3f6f8; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#0678c8; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {
  0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {
  0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {
  0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
  0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
  0% {opacity:1;}
100% {opacity:0;}
}

/* -------------------- 공통 -------------------- */
.hide {display:inline-block; position:absolute; left:-9999px; top:-9999px; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; margin:0; padding:0;}
.txt_left {text-align:left !important;}
.txt_right {text-align:right !important;}
.txt_center {text-align:center !important;}
.bold {font-weight:700;}
.fl {float:left;}
.fr {float:right;}

/* selectbox */
html,body {font-family:'Noto Sans KR', sans-serif;}

.selectbox{display:inline-block; position:relative; min-width:50px; width:230px; height:32px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:rgba(255,255,255,0.8); z-index:1; transition:all 0.3s ease-out;}
.selectbox:before{content:''; position:absolute; top:50%; right:10px; width:10px; height:10px; margin-top:-5px; background:url("../images/arw_bottom_bk.png") 50% 50% no-repeat; opacity:0.6;}
.selectbox label{position:absolute; top:1px; left:10px; padding:0; color:rgba(11,42,74,0.8); font-size:13px; z-index:-1;}
.selectbox select{width:100%; height:100%; padding:0 30px 0 0; font-family:inherit; font-size:13px; border:0; opacity:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.selectbox.active{border:1px solid #008ad8; background:rgba(255,255,255,1.0); transition:all 0.3s ease-out;}
.selectbox.active:before{ opacity:0.8; transition:all 0.3s ease-out;}
.selectbox.active label{color:rgba(11,42,74,1.0);}

.selectbox_b{display:inline-block; position:relative; min-width:50px; width:108px; height:32px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:rgba(255,255,255,0.8); z-index:1; transition:all 0.3s ease-out;}
.selectbox_b:before{content:''; position:absolute; top:50%; right:10px; width:10px; height:10px; margin-top:-5px; background:url("../images/arw_bottom_bk.png") 50% 50% no-repeat; opacity:0.6;}
.selectbox_b label{position:absolute; top:1px; left:10px; padding:0; color:rgba(11,42,74,0.8); font-size:13px; z-index:-1;}
.selectbox_b select{width:100%; height:100%; padding:0 30px 0 0; font-family:inherit; font-size:13px; border:0; opacity:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.selectbox_b.active{border:1px solid #008ad8; background:rgba(255,255,255,1.0); transition:all 0.3s ease-out;}
.selectbox_b.active:before{ opacity:0.8; transition:all 0.3s ease-out;}
.selectbox_b.active label{color:rgba(11,42,74,1.0);}
/* select */
.select_type {display:inline-block; position:relative; width:100%; vertical-align:middle;}
.select_type label {position:absolute !important; height:1px; width:1px; overflow:hidden; clip:rect(1px,1px,1px,1px);}
.select_type select {overflow:hidden; display:block; width:90%; min-width:60px; height:32px; line-height:28px; color:#576068; padding:0 18px 0 5px; border:1px solid rgba(11,42,74,0.3); letter-spacing:-1px; background:#fff url("../images/ico_arrow_down03.png") right 7px center no-repeat; background-size:9px 6px; text-align:left; border-radius:5px; box-shadow:0.5px 0.9px 3px 0 rgba(10, 19, 39, 0.1); font-size:13px; font-weight:500; appearance:none; -webkit-appearance:none;}
.select_type select::-ms-expand {opacity:0;}/* ie10부터 적용 */
.select_type + .select_type {margin-left:10px;}
.select_type select:hover,
.select_type select:focus,
.select_type select:active {border:1px solid #0678c8; border-radius:5px;}
.select_type.single select {width:auto;}


/* checkBox */
.checkBox {position:relative; z-index:1;}
.checkBox input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.checkBox input[type="checkbox"] + label {display:inline-block; overflow:hidden; position:relative; width:18px; height:18px; color:#767f89; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.checkBox input[type="checkbox"] + label:before {content:''; float:left; overflow:hidden; width:18px; height:18px; line-height:18px; margin:0 5px 0 0; text-align:center; vertical-align:middle; border:none; border-radius:2px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;} 
.checkBox input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#007eff; transition:all 0.3s ease-out;}

/* pageing */
.page_area {position:relative; margin-top:25px;}
.page_area .btn_monitor {position:absolute; top:0; left:0;}
.page_area .paging_wrap {text-align:center;}
.page_area .paging_wrap .select_type.single {width:auto; margin-right:15px;}
.page_area .paging_wrap .select_type.single select {}
.page_area .paging_wrap .paging {}

/* paging */
.paging {overflow:hidden; text-align:center; font-size:13px;}
.paging a {display:inline-block; width:20px; height:30px; color:#818fae; vertical-align:middle; line-height:28px; padding:0 3px;}
.paging strong {display:inline-block; width:30px; height:30px; color:#fefeff; border-radius:5px; vertical-align:middle; line-height:28px; font-weight:500; box-shadow:0.5px 0.9px 3px 0 rgba(10, 19, 39, 0.1); background-color:#0678c8;}
.paging span.list a {background:none !important;}
.paging .paging_first,
.paging .paging_prev,
.paging .paging_next,
.paging .paging_last {width:25px; height:30px; border-radius:5px; box-shadow:0.5px 0.9px 3px 0 rgba(10, 19, 39, 0.1); border:1px solid rgba(11,42,74,0.3); background-color:#ffffff;}
.paging .paging_first {}
.paging .paging_prev {margin-right:5px;}
.paging .paging_next {margin-left:5px;}
.paging .paging_last {}
.paging .paging_first i,
.paging .paging_last i {line-height:1.54; vertical-align:middle; font-size:11px;}
.paging .paging_prev i,
.paging .paging_next i {line-height:1.54; vertical-align:middle; font-size:15px;}

/*.pageing {clear:both; overflow:hidden; padding:30px 0; vertical-align:top; text-align:center; font-size:12px;}
.pageing a {display:inline-block; overflow:hidden; width:20px; height:20px; margin:0 3px; color:#999; font-size:13px; vertical-align:middle; border-radius:3px; text-decoration:none; transition:all 0.3s ease-out;}
.pageing a:hover {color:#333; transition:all 0.3s ease-out;}
.pageing a.first {margin:0; border:1px solid rgba(11,42,74,0.2); text-indent:-99px; background:url(../images/ico_paging_first.png) 50% 50% no-repeat;}
.pageing a.first:hover,.pageing a.first:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.prev {border:1px solid rgba(11,42,74,0.2); text-indent:-99px; background:url(../images/ico_paging_prev.png) 50% 50% no-repeat;}
.pageing a.prev:hover,.pageing a.prev:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.next {border:1px solid rgba(11,42,74,0.2); text-indent:-99px; background:url(../images/ico_paging_next.png) 50% 50% no-repeat;}
.pageing a.next:hover,.pageing a.next:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.end {margin:0; border:1px solid rgba(11,42,74,0.2); text-indent:-99px; background:url(../images/ico_paging_end.png) 50% 50% no-repeat;}
.pageing a.end:hover,.pageing a.end:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing strong {display:inline-block; width:20px; height:20px; color:#0678c8; font-size:13px; padding:0 2px; border:1px solid #fff;}
.pageing img {position:relative; top:-1px; vertical-align:top;}*/

#wrap {min-width:1280px; height:100%;}

/* header */ 
#header {clear:both; position:fixed; width:calc(100% - 50px); min-height:42px; padding:15px 30px 15px 20px; background:#121a2d; z-index:1;}
#header h1 {float:left; min-height:30px;}
#header h1 a {display:block; height:40px;}
#header h1 a img {height:100%;}

#header .hamBox {position:absolute; top:20px; left:20px; width:25px; height:20px;}
#header .hamBox .btn_ham {display:block; overflow:hidden; position:relative; width:100%; height:100%; opacity:0.3; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:hover,#header .hamBox .btn_ham:focus {opacity:1.0; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham span {position:absolute; top:50%;width:100%; height:3px; margin:-1px 0 0 0; text-indent:-999px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:before {content:''; position:absolute; top:0; width:100%; height:3px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:after {content:''; position:absolute; bottom:0; width:100%; height:3px; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:hover span, #header .hamBox .btn_ham:hover:before, #header .hamBox .btn_ham:hover:after {background:#0678c8; transition:all 0.3s ease-out;}
#header .hamBox .btn_ham:focus span, #header .hamBox .btn_ham:focus:before, #header .hamBox .btn_ham:focus:after {background:#0678c8; transition:all 0.3s ease-out;}

#header .etcmenu {position:absolute; right:30px;}
#header .etcmenu .btn_keyword_srch {overflow:hidden; float:left; width:40px; height:40px; margin:0 20px 0 0; border:none; border-radius:40px; text-indent:-999px; background: url("../images/ico_keyword_search.png") 50% 50% no-repeat; background-size:25px 25px; opacity:0.5; transition:all 0.3s ease-out; cursor:pointer;}
#header .etcmenu .btn_keyword_srch:hover, #header .etcmenu .btn_config_mng:focus {opacity:0.8; transition:all 0.3s ease-out;}
#header .etcmenu .btn_config_mng {overflow:hidden; float:left; width:40px; height:40px; margin:0 20px 0 0; border:none; border-radius:40px; text-indent:-999px; background: url("../images/ico_config_mng.png") 50% 50% no-repeat; background-size:25px 25px; opacity:0.5; transition:all 0.3s ease-out; cursor:pointer;}
#header .etcmenu .btn_config_mng:hover, #header .etcmenu .btn_config_mng:focus {opacity:0.8; transition:all 0.3s ease-out;}


#header .etcmenu .groupBox {float:left; margin:0 20px 0 0; border-right:1px solid rgba(255,255,255,0.1);}
#header .etcmenu .groupBox dl {float:left; margin:0 20px 0 0; padding:10px 20px; border-radius:5px; background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header .etcmenu .groupBox dl:last-child:hover {background:rgba(255,255,255,0.3); transition:all 0.3s ease-out;}
#header .etcmenu .groupBox dl dt {float:left; margin:0 15px 0 0;}
#header .etcmenu .groupBox dl dt.ico_team {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_team_w.png) 50% 50% no-repeat; background-size:20px; opacity:0.3;}
#header .etcmenu .groupBox dl dt.ico_wspace {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_workspace_w.png) 50% 50% no-repeat; background-size:15px; opacity:0.3;}
#header .etcmenu .groupBox dl dd {float:left; color:#fff;}

#header .etcmenu .userBox {float:left;}

#header .etcmenu .userBox {float:left;}
#header .etcmenu .userBox dl {float:left; padding:10px 20px; border-radius:5px; background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl:hover {background:rgba(255,255,255,0.3); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl dt {float:left; margin:0 15px 0 0;}
#header .etcmenu .userBox dl dt.ico_user {overflow:hidden; width:20px; height:20px; text-indent:-999px; background:url(../images/ico_user_w.png) 50% 50% no-repeat; background-size:20px; opacity:0.3;}
#header .etcmenu .userBox dl dd {float:left; position:relative; color:#fff;}
#header .etcmenu .userBox dl dd > a {padding:0 25px 0 0; color:#fff;}
#header .etcmenu .userBox dl dd a:after {content:''; position:absolute; top:4px; right:0; width:13px; height:13px; background:url(../images/arrow_down_w.png) right 50% no-repeat; opacity:0.3;}
#header .etcmenu .userBox dl ul.lst {display:none;}
#header .etcmenu .userBox dl ul.lst li a {display:block; position:relative; padding:7px 10px 7px 30px; color:#fff; transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl ul.lst li a:hover, #header .etcmenu .userBox dl ul.lst li a:focus {background-color:rgba(29,33,44,0.4); transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl ul.lst li a:before {content:''; position:absolute; top:50%; left:10px; width:14px; height:14px; margin:-7px 0 0 0; opacity:0.5;}
#header .etcmenu .userBox dl ul.lst li.ico_profile a:before {background:url(../images/ico_profile_w.png) 50% 50% no-repeat; background-size:cover;}
#header .etcmenu .userBox dl ul.lst li.ico_pw a:before {background:url(../images/ico_pw_w.png) 50% 50% no-repeat; background-size:cover;}
#header .etcmenu .userBox dl ul.lst li.ico_logout a:before {background:url(../images/ico_logout_w.png) 50% 50% no-repeat; background-size:cover;}

#header .etcmenu .userBox dl.active {background:#0678c8; transition:all 0.3s ease-out;}
#header .etcmenu .userBox dl.active dd {margin:0 0 10px 0;}
#header .etcmenu .userBox dl.active ul.lst {display:block; clear:both; overflow:hidden; margin:7px 0 0 0; border-radius:3px; background:rgba(255,255,255,0.2);}
#header .etcmenu .userBox dl.active ul.lst li {display:block; border-bottom:1px solid #0678c8;}
#header .etcmenu .userBox dl.active ul.lst li:last-child {border:none;}
#header .etcmenu .userBox dl.active ul.lst li a {}

/* container */ 
#container {display:table; position:relative; width:100%; height:calc(100% - 102px); padding:72px 0 0 0;background:#f1f4f9;}

/* Side navigation Bar */ 
.snb {display:table-cell; width:230px; background:#2d374f; min-width:230px;}  
.snb ul.nav {display:block;}
.snb ul.nav li {display:block; position:relative;}
.snb ul.nav li a {display:block; position:relative; padding:7px 20px; color:#e4e4e4; font-size:15px; transition:all 0.3s ease-out;}
.snb ul.nav li a:hover {color:#0678c8; transition:all 0.3s ease-out;}

.snb ul.nav > li {}
.snb ul.nav > li > a {padding:15px 20px;font-weight:500;}
.snb ul.nav > li > a i {vertical-align:middle;padding:0 5px 0 0;}
.snb ul.nav > li > a img {width:20px; padding:0 5px 0 0;}
.snb ul.nav li .sub_nav {overflow:hidden; height:0; padding:0 10px; background:#f9f9f9; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li {}
.snb ul.nav li .sub_nav li > a {position:relative; padding:10px 0 10px 25px; font-size:13px;}
.snb ul.nav li .sub_nav li:last-child a {margin:0;}
.snb ul.nav li .sub_nav li > a:before {content:'';  position:absolute; top:50%; left:10px; width:7px; height:7px; margin:-4px 0 0 0; background:url(../images/arrow_snbSub_w.png) 50% 50% no-repeat; opacity:0.3;}
.snb ul.nav li .sub_nav li.active > a {color:#fff; background:#0678c8; letter-spacing:-1px;}
.snb ul.nav li .sub_nav li.active > a:before {opacity:0.7;}

.snb ul.nav li .sub_nav li .third_nav {display:none; height:0; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li .third_nav li {}
.snb ul.nav li .sub_nav li .third_nav li a {position:relative; margin:0; padding:7px 0 7px 25px; font-size:13px;}
.snb ul.nav li .sub_nav li .third_nav li a:before {content:'-'; position:absolute; top:10px; left:15px; font-size:15px; background:none;}

.snb ul.nav li.active {color:#fff; background:#0678c8;}
.snb ul.nav li.active > a {color:#fff;}
.snb ul.nav li.active > a:before {content:''; position:absolute; top:0; left:0; width:5px; height:100%; background:#0678c8;}
.snb ul.nav li.active > .sub_nav {display:block; height:auto; padding:10px; transition:all 0.3s ease-out;} 
.snb ul.nav li.active > .sub_nav li {background:#f4f4f4;}
.snb ul.nav li.active .sub_nav li.active .third_nav {display:block; height:auto; padding:5px 0; transition:all 0.3s ease-out;}
.snb ul.nav li .sub_nav li.active .third_nav li.active a {color:#0678c8; background:none !important;}
.snb ul.nav li.active > a i {color:#fff;}
/* contents */ 
.contents {display:table-cell; vertical-align:top;min-width:1135px;}

/* titArea */
.titArea {display:block; clear:both; min-height:48px; padding:5px 30px 0; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.titArea h3 {float:left; color:#000; font-size:22px; font-weight:600; line-height:40px;}
.titArea .path {float:left; margin:15px 0 0 30px;}
.titArea .path span {float:left; margin:0 6px 0 0; padding:0 15px 0 0; color:#000; font-size:12px; font-weight:400; line-height:18px; background:url(../images/arrow_path_bk.png) right 50% no-repeat; opacity:0.5;}
.titArea .path span img {margin:-2px 0 0 0; vertical-align:middle; opacity:0.5;}
.titArea .path span:last-child {margin:0; padding:0; font-size:13px; background:none; opacity:0.8;} 

.titArea .tab_nav {float:right; margin:10px 0 0 0;}
.titArea .tab_nav li {float:left; margin:0 0 0 10px;}
.titArea .tab_nav li a {display:block; height:34px; margin:0; padding:0 15px; color:#666; font-size:13px; line-height:34px; border:1px solid rgba(11,42,74,0.2); border-radius:3px 3px 0 0; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.titArea .tab_nav li a:hover, .titArea .tab_nav li a:focus {color:#0678c8; transition:all 0.3s ease-out;}
.titArea .tab_nav li a.active {color:#fff; background:#0678c8; transition:all 0.3s ease-out;}

/* srchArea */
.srchArea {display:block; clear:both; min-height:30px; margin:10px 30px; background:#fff; overflow:hidden; box-shadow:0 2px 7px rgba(0, 0, 0, 0.1);}
.srchArea .cl_b { clear:both; overflow:hidden; border-bottom:1px solid #eef1f7;}
.srchArea .cl_b:last-child {border:none;}
.srchArea .dateBox {display:inline-block;}
.srchArea .dateBox .hyphen {color:#999;}
/*.srchArea .dateBox .ipt_txt{width:150px; height:30px; margin:0; padding:0 5px; color:rgba(11,42,74,1.0); font-size:13px; font-weight:normal; border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:url("../images/ico_date_bk.png") right 5px center no-repeat; transition:all 0.3s ease-out;}*/
/*.srchArea .dateBox .ipt_txt:focus{border:1px solid #008ad8; background:url("../images/ico_date_b.png") right 5px center no-repeat; transition:all 0.3s ease-out;}*/
.srchArea .selectbox {display:inline-block; margin:0;}
.srchArea .selectbox.active {border:1px solid #008ad8;}
.srchArea .selectbox select {display:inline-block; min-width:200px; min-height:32px; padding:5px; }
.srchArea .selectbox select.s_wide {width:230px;}
.srchArea .selectbox select.s_wide_2 {width:283px;}
.srchArea .selectbox select.s_wide_3 {min-width:130px;}
.srchArea .selectbox + .selectbox {margin:0 0 0 10px;}
.selectbox + .hyphen {margin:0 5px;}
.srchArea .srchbox {display:inline-block;}
.srchArea .srchbox .ipt_txt {display:inline-block; max-width:125px; height:31px; margin:0;padding:0 5px; line-height:26px; color:rgba(11,42,74,1.0); font-size:13px; border:1px solid rgba(11,42,74,0.2); border-radius:5px; transition:all 0.3s ease-out;}
.srchArea .srchbox .ipt_txt:focus {border:1px solid #008ad8; box-shadow:0 2px 3px rgba(11,42,74,0.1); transition:all 0.3s ease-out;}
.srchArea .srchbox .sec_txt {text-align:right;}
.srchArea .small_txt {line-height:32px;}
.srchArea .srchbox .ipt_wide {max-width:300px; width:220px;}
.srchArea .srchbox .ipt_wide_b{max-width:400px; width:273px;}
.srchArea .srchbox .btn_srch {float:left; height:28px; margin:0 0 0 10px;padding:0 15px 0 10px; color:#666; font-size:12px; line-height:26px; border:1px solid rgba(11,42,74,0.2);background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst {float:left;}
.srchArea .btn_lst li {float:left; position:relative; margin:0 0 0 10px;}
.srchArea .btn_lst li:first-child {margin:0;}
.srchArea .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li button.btn_clr {display:block; height:32px; margin:0; padding:0 10px; color:rgba(255,255,255,1.0); font-size:12px; line-height:30px; border:1px solid #0678c8; border-radius:3px; background:#0678c8; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr:hover, .srchArea .btn_lst li button.btn_clr:focus {color:rgba(255,255,255,1.0); border:1px solid #0678c8; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li a {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li a:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li .fileName {display:inline-block;width:190px;height:30px;padding-left:10px;margin-right:5px;line-height:30px;border:1px solid #aaa;background-color:#fff;vertical-align:middle}
.srchArea .btn_lst li label.btn_file {display:inline-block; height:32px; margin:0 20px 0 0 ; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file:hover, .srchArea .btn_lst li label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.srchArea .btn_lst li .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}
.srchArea span.title {min-width:110px; height:45px; display:inline-block; margin:0 10px 0 0; padding:0 10px; color:#fff; font-size:14px;text-align:right;line-height:44px; background:#9ca4b9;}

/* srchArea */
.srchArea .btnBox {float:right;}

/* content */ 
.content {display:block; padding:0px 30px; min-height:450px;}

/* section */
.stn {
  display:table;
  width:100%;
  margin:0px;
  border-radius:5px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.1);
  background:#fff;}
.content .srchbox {margin:0 0 30px 0; height:20px;}
.content .srchbox .ipt_txt {float:left; min-width:200px; height:30px; padding:0 5px; line-height:30px; border:1px solid #fff; border-radius:3px 0 0 3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.content .srchbox .ipt_txt:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.content .srchbox .srch_box {float:right;}
.content .srchbox .btn_srch {height:32px; margin:0 0 0 5px;; padding:0 15px 0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:0 3px 3px 0; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.content .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.content .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

/* dashboard */ 
.content .moniter_fl {width:40%; float:left;}
.content .moniter_fl .box:nth-child(2) {padding:30px 0 20px 0;}
.content .moniter_tit {padding:0 0 20px 0;font-size:18px;font-weight:500;}
.content .moniter_tit span {color:#0678c8;font-weight:600;}
.content .monitering .moniter_box{background:#fff; display:inline-block; width:140px; height:140px;}
.content .monitering .moniter_box p {padding:10px;text-align:center;font-size:15px; font-weight:500;color:#6a7275;}
.content .monitering .moniter_box p:nth-child(2) {padding:30px 0 20px 0;}
.content .monitering .moniter_box em {display:block; width:100%; text-align:center; font-size:45px; line-height:90px; font-family:'Vollkorn', serif;}
.content .monitering .box1 {border-bottom:5px solid #dcdcdc;}
.content .monitering .box2 {border-bottom:5px solid #dcdcdc;}
.content .monitering .box3 {border-bottom:5px solid #dcdcdc;}
.content .monitering .box4 {border-bottom:5px solid #dcdcdc;}
.content .monitering .box5 {border-bottom:5px solid #dcdcdc;}

.content .moniter_fr {width:60%; float:right;}
.content .moniter_fr .graph_box {width:80%;margin:0 0 0 30px;border-right:1px solid #eee;}
.content .moniter_fr .graph li {display:inline-block;width:60px;height:300px; background:#eee; border-radius:40px;}
.content .moniter_fr .graph li span { display:inline-block; background:pink; border-radius:40px; width:20px;}

/* table(List) */
.tbl_lst {width:100%; background:#fff; table-layout: fixed}
.tbl_lst thead th {min-height:32px; padding:12px 10px; color:#fff; font-size:13px; line-height:18px;border-bottom:1px solid #fff; background:#626c84; word-break:normal;text-align:center;}
.tbl_lst thead th:first-child {padding:10px 10px 10px 15px;}
.tbl_lst thead th input[type="checkbox"] {display:none;}
.tbl_lst thead th input[type="checkbox"] + label {display:inline-block; position:relative; cursor:pointer;-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.tbl_lst thead th input[type="checkbox"] + label:before {content:''; display:inline-block; overflow:hidden; width:14px; height:14px; font-size:12px; line-height:14px; margin:-2px 5px 0 0; text-align:center; vertical-align:middle; border:none; border:1px solid rgba(11,42,74,0.3); border-radius:2px; background:#fff; box-shadow:inset 1px 1px 3px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.tbl_lst thead th input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 1px 1px 3px rgba(0,0,0,0); background:#0678c8; transition:all 0.3s ease-out;}
.tbl_lst tbody td {min-height:37px ;padding:5px 10px; color:#2d2d2d; font-size:13px; font-weight:500; text-align:center;line-height:17px; border-bottom:1px solid #eef1f7;font-family:‘Noto Sans KR’;}
.tbl_lst tbody td:first-child {padding:10px 10px 10px 15px;}
.tbl_lst tbody td a.link {color:#0678c8;}
.tbl_lst tbody td a.link:hover, .tbl_lst tbody td a.link:focus {text-decoration:underline;}
.tbl_lst tbody td button {background-color:transparent; border:none; vertical-align:text-bottom; cursor:pointer;}
.tbl_lst tbody td input[type="checkbox"] {display:none;}
.tbl_lst tbody td input[type="checkbox"] + label {display:inline-block; position:relative; cursor:pointer;-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.tbl_lst tbody td input[type="checkbox"] + label:before {content:''; display:inline-block; overflow:hidden; width:14px; height:14px; font-size:12px; line-height:14px; margin:-2px 5px 0 0; text-align:center; vertical-align:middle; border:none; border:1px solid rgba(11,42,74,0.3);border-radius:2px; box-shadow:inset 1px 1px 3px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.tbl_lst tbody td input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 1px 1px 3px rgba(0,0,0,0); background:#0678c8; transition:all 0.3s ease-out;}
.tbl_lst tbody td span {cursor:pointer;display:inline-block; padding:3px; color:#0678c8; border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:#fff;}
.tbl_lst tbody td span i {font-size:16px; vertical-align:middle;}
.tbl_lst tbody td select {display:inline-block; min-width:100px; min-height:32px; padding:5px; font-family:inherit; color:rgba(11,42,74,1.0); border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:#fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; appearance:none; transition:all 0.3s ease-out;}
.tbl_lst tbody td select:focus {border:1px solid #008ad8;}
.tbl_lst tbody td.inputTd {width:120px;}
.tbl_lst tbody td input[type="text"] {width:110px;border:1px solid #d8d8d8; padding:2px 5px; font-size:12px; color:#5d5d5d;}
.tbl_lst tbody td.stt_txt {text-align:left;}
.tbl_lst button.btn {display:block; height:26px; padding:0 15px; color:#0678c8; text-align:center; line-height:24px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst button.btn:hover {color:#fff; border:1px solid #0678c8; background:#0678c8; transition:all 0.3s ease-out;}

.tbl_lst .input_ck {border:none !important;}
.tbl_lst tbody td .dataNone {display:block; text-align:center;}
.tbl_lst tbody tr:nth-child(even) td {background: rgba(11,42,74,0.025);}
.tbl_lst tbody tr:hover td {background:rgba(11,42,74,0.08) !important; transition:all 0.3s ease-out;}
.tbl_lst tbody tr a {display:block;cursor:pointer;width:100%; height:100%; color:#0678c8;}


.tbl_lst .btn_lst {display:block;}
.tbl_lst .btn_lst li {display:inline-block; margin:0 3px;}
.tbl_lst .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button:hover, .tbl_lst .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_lst .ol_lst {display:block;}
.tbl_lst .ol_lst li {overflow:hidden; position:relative; max-width:400px; margin:0 0 5px 0; text-overflow:ellipsis; white-space:nowrap;}
.tbl_lst .ol_lst li:last-child {margin:0;}
.tbl_lst .ol_lst li:before {display:inline-block; padding:0 5px 0 0; color:#b5b5b5;}
.tbl_lst .ol_lst li:nth-child(1):before {content:'1.';}
.tbl_lst .ol_lst li:nth-child(2):before {content:'2.';}
.tbl_lst .ol_lst li:nth-child(3):before {content:'3.';}
.tbl_lst .ol_lst li:nth-child(4):before {content:'4.';}
.tbl_lst .ol_lst li:nth-child(5):before {content:'5.';}
.tbl_lst .ol_lst li:nth-child(6):before {content:'6.';}
.tbl_lst .ol_lst li:nth-child(7):before {content:'7.';}
.tbl_lst .ol_lst li:nth-child(8):before {content:'8.';}
.tbl_lst .ol_lst li:nth-child(9):before {content:'9.';}
.tbl_lst .ol_lst li:nth-child(10):before {content:'10.';}

/* table(View) */
.tbl_view {width:100%; background:#fff; border:1px solid #eef1f7; box-shadow:0 0 5px #bbc7e7}
.tbl_view tbody th {padding:10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-bottom:1px solid rgba(0,0,0,0.2); background:#31415d; word-break:normal;}
.tbl_view tbody td {padding:10px; color:#2d2d2d; font-size:13px; text-align:left; line-height:17px; border-bottom:1px solid #eef1f7; word-break:normal;}
.tbl_view tbody td a.link {color:#0678c8;}
.tbl_view tbody td a.link:hover, .tbl_view tbody td a.link:focus {text-decoration:underline;}
.tbl_view tbody td .ipt_txt {display:block; width:calc(100% - 25px); height:30px; padding:0 10px; line-height:30px; color:#333; border:1px solid #ccc; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.tbl_view tbody td .ipt_txt:focus {border:1px solid #0678c8; background:#fff; transition:all 0.3s ease-out;}
.tbl_view .tbl_select {display:block; position:relative; min-width:130px; height:32px; padding:0 35px 0 10px; color:#333; text-align:left; line-height:32px; border:1px solid #dadada; box-shadow:inset 2px 2px 0px #dadada; border-radius:30px; background:#f5f5f5 url(../images/btn_select.png) 99px 1px no-repeat; background-size:28px; transition:all 0.3s ease-out; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.tbl_view .tbl_select::-ms-expand {display:none;}
.tbl_view .tbl_select:focus {border:1px solid #0678c8; transition:all 0.3s ease-out;}

/* footer */
#footer {display:block; height:29px; color:#999; font-size:11px; text-align:center; line-height:28px; border-top:1px solid #e5e5e5; background:#fff;position:fixed; width:100%; bottom:0;}


.lyrWrap {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100;}
.lyrWrap .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.lyrWrap .lyrBox {overflow:hidden; position:absolute; top:100px; left:50%; width:600px; margin:0 0 0 -300px; border-radius:10px; background:#fff;}
.lyrWrap .lyr_top {display:block; height:30px; padding:7px 20px; background:#2d374f;}
.lyrWrap .lyr_top h3 {float:left; margin:5px 0 0 0; color:#fff; font-size:15px;}
.lyrWrap .lyr_top .btn_lyr_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-99px; border:none; border-color:none; background:url(../images/btn_legacy_close_w.png) 50% 50% no-repeat; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_top .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}

.lyrWrap .lyr_mid {display:block; overflow:auto; max-height:790px;padding:0; background:#f1f4f9;}
.lyrWrap .lyr_mid .tbl_view tbody th {background:#9ca4b9; font-weight:bold; text-align:right;color:#fff; border:1px solid #eef1f7;}
.lyrWrap .lyr_mid .tbl_view tbody td select{width:100%; height:31px; border:1px solid #ccd3df;border-radius:3px;color:#555;}

.lyrWrap .lyr_mid .fl_view {width:50%; float:left; margin:10px 0; position:relative;}
.lyrWrap .lyr_mid .fr_view {width:50%; float:right; margin:10px 0;}
.lyrWrap .lyr_mid .fl_view p {margin:0 0 0 0;font-size:14px;color:rgba(11,42,74,1.0);font-weight:bold; text-align:left; line-height:25px;}
.lyrWrap .lyr_mid .fr_view p {display:block; margin:0 0 0 20px;font-size:14px;color:rgba(11,42,74,1.0);font-weight:bold;  text-align:left; line-height:25px;}
.lyrWrap .lyr_mid .fl_view .rightBox { display: flex; justify-content: space-around;}

.lyrWrap .lyr_mid .fr_view .rightBox {margin:20px 0 10px;}
.lyrWrap .lyr_mid .fr_view .ly_srchBox {height:40px;}
.lyrWrap .lyr_mid .fr_view input {width:360px; height:26px; margin:0 0 0 15px; padding:5px 10px;border:1px solid rgba(11,42,74,0.2);}
.lyrWrap .lyr_mid .fr_view .btn_srch {float:right; height:38px; margin:0;padding:0 25px 0 20px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2);background:#fff; cursor:pointer;}
.lyrWrap .lyr_mid .fr_view .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.lyrWrap .lyr_mid .fl_view .btn_srch {width:150px; height:38px; margin:0;padding:0 25px 0 20px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(11,42,74,0.2);background:#fff; cursor:pointer;}
.lyrWrap .lyr_mid .fl_view .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.lyrWrap .lyr_tb { width:100%; box-shadow:0 0 5px #bbc7e7;}
.lyrWrap .lyr_tb .tbl_lst th {background:#626c84;}
.lyrWrap .lyr_tb .tbl_lst td.stt_txt {text-align:left;}
.lyrWrap .lyr_mid .call_mid { display:block; overflow:hidden; position:relative; width:100%; background:none; border:1px solid #e2e2e2;box-sizing:border-box;}
.lyrWrap .lyr_mid .call_mid .talkLst {clear:both; overflow:hidden; min-height:200px; margin:0; padding:0;}
.lyrWrap .lyr_mid .call_mid .talkLst li {clear:both; overflow:hidden; padding:10px;}
.lyrWrap .lyr_mid .call_mid .talkLst li.realTime {background:rgba(11,42,74,0.08);}

.lyrWrap .lyr_mid .call_mid .talkLst li.longTime {display:block; clear:both; overflow:hidden; height:25px; margin:10px 0; padding:0; background:url(images/bg_longtime.png) 0 0 repeat-x;}  
.lyrWrap .lyr_mid .call_mid .talkLst li.newDate {position:relative; margin:0 0 10px 0; text-align:center; background:url(../images/line_ccc.png) 0 center repeat-x;}
.lyrWrap .lyr_mid .call_mid .talkLst li.newDate span {display:inline-block; padding:0 10px; color:#aaa; background:#f6f6ff;}
.lyrWrap .lyr_mid .call_mid .talkLst li a {color:blue; text-decoration:underline;}
.lyrWrap .lyr_mid .call_mid .talkLst li .thumb i { display:inline-block; overflow:hidden; width:40px; height:40px; border-radius:50px;}

.lyrWrap .lyr_mid .call_mid .talkLst li.agent {display:table; width:calc(100% - 20px); text-align:left; vertical-align:top;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .thumb {display:table-cell; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .thumb i.ico_thumb {background:#fff url(../images/ico_agent_bk.png) 50% 50% no-repeat; background-size:cover;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .thumb img {overflow:hidden; width:100%;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .cont {display:block; max-width:270px;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .cont:last-child {margin:0;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .cont .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .cont .txt {position:relative; display:inline-block; margin:0 5px 5px 10px; padding:10px; color:rgba(11,42,74,1.0); font-weight:500;font-size:14px; font-style:normal; text-align:left; word-break:normal; line-height:18px; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .cont .txt:after {content:''; position:absolute; top:0; left:-10px; border-top:0 solid transparent; border-right:20px solid #fff; border-bottom:20px solid transparent;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .date {display:block; margin:0 0 7px 0; padding:0 0 0 10px; color:#afafaf; font-size:11px; vertical-align:bottom;}
.lyrWrap .lyr_mid .call_mid .talkLst li.agent .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.lyrWrap .lyr_mid .call_mid .talkLst li.client {display:table; width:calc(100% - 20px); text-align:right; vertical-align:top;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .thumb {float:right; overflow:hidden; width:50px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .thumb i.ico_thumb { background:#fff url(../images/ico_client_b.png) 50% 50% no-repeat; background-size:cover;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .thumb img {overflow:hidden; width:100%;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .cont {float:right; max-width:270px;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .cont .txt {position:relative; display:inline-block; margin:0 0 2px 5px; padding:10px; color:#fff; font-size:13px;font-weight:500;font-style:normal; text-align:left; word-break:normal; border-radius:10px; background:#0678c8; box-shadow:1px 1px 2px #ccc;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .cont .txt:after {content:''; position:absolute; top:0; right:-10px; border-top:0 solid transparent; border-left:20px solid #0678c8; border-bottom:20px solid transparent;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .date {display:block; margin:0 0 3px 0; padding:0; color:#afafaf; font-size:12px; text-align:right; vertical-align:bottom;}
.lyrWrap .lyr_mid .call_mid .talkLst li.client .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}
.call_player {display:block; width:100%; height:37px; line-height:37px;}
.call_player audio {display:block; float:left; width:100%; height:100%;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser{display:block; padding:20px; font-size:14px; line-height:20px;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a{ color:#008ad8;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a:hover, .lyrWrap .lyrBox .lyr_mid .legacy-browser a:focus{text-decoration:underline;}

/* checkBox */
.fr_view .chack_lst {height:260px; overflow:auto;}
.fr_view .result_lst {background:#fff; width:calc(100% - 20px); float:right;margin:0 0 20px 0;}
.radioBox {position:relative; height:30px; padding:10px; text-align:center;z-index:1;font-size:13px;border-bottom:1px solid #eee;}
.radioBox span {display:inline-block;margin:0 15px 0 0;line-height:50px;}
.radioBox input[type="radio"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.radioBox input[type="radio"] + label {display:inline-block; overflow:hidden; vertical-align:middle; position:relative; color:#777; font-size:14px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.radioBox input[type="radio"] + label:after {content:''; float:right; overflow:hidden; width:18px; height:18px; line-height:18px; margin:0 20px 0 10px; text-align:center; vertical-align:middle; border:none; border-radius:2px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;} 
.radioBox input[type="radio"]:checked + label:after {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0); background:#0678c8; transition:all 0.3s ease-out;}

.fr_view .result_lst th, .fr_view .result_lst td {font-family:none;}
.lyrWrap .lyr_mid .audioBox {display:none; width:100%; padding:10px 0 0 0;}
.lyrWrap .lyr_mid .audioBox audio {width:100%;}

.lyrWrap .lyr_mid .txtBox {display:block; padding:25px; text-align:center;}
.lyrWrap .lyr_mid .txtBox .imgBox {margin:0 0 20px 0;}
.lyrWrap .lyr_mid .txtBox .txt {color:#333; font-size:18px; font-weight:100;}

.lyrWrap .lyr_mid .ipt_txt {display:inline-block; width:100%; height:29px; padding:0 5px; line-height:30px; border:1px solid #ccd3df; box-sizing:border-box; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .ipt_txt:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.lyrWrap .lyr_mid .ipt_treeview {display:inline-block; float:left; width:calc(100% - 44px); height:30px; padding:0 5px; line-height:30px; border:1px solid #ccd3df; border-radius:3px 0 0 3px; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .ipt_treeview:focus {border:1px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid button.btn_treeview {display:inline-block; width:32px; height:32px; margin:0; padding:0; color:#fff; font-size:12px; line-height:28px; border-radius:0 3px 3px 0; vertical-align:middle; border:1px solid #8995aa; background:#8995aa; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid button.btn_treeview img {height:16px; vertical-align:middle; opacity:0.3; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .btn_treeview:hover, .lyrWrap .lyr_mid .btn_treeview:focus {color:#333; border:1px solid #6e7a8f; background:#6e7a8f; transition:all 0.3s ease-out;}
.lyrWrap .lyr_mid .btn_treeview:hover img, .lyrWrap .lyr_mid .btn_treeview:focus img {opacity:0.5; transition:all 0.3s ease-out;}

.lyrWrap .lyr_btm {display:block; clear:both; overflow:hidden; min-height:30px; padding:10px 20px; text-align:center;  background:#fff;}
.lyrWrap .lyr_btm .btn_lst {display:block;}
.lyrWrap .lyr_btm .btn_lst li {display:inline-block; margin:0 3px;}
.lyrWrap .lyr_btm .btn_lst li button {display:block; min-width:70px; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.lyrWrap .lyr_btm .btn_lst li button:hover, .lyrWrap .lyrBox .lyr_btm .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
.lyrWrap .lyr_btm .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.lyrWrap .lyr_btm .btn_lst li button.btn_clr {color:#fff; border:1px solid #0678c8; background:#0678c8; transition:all 0.3s ease-out;}

.lyrWrap .lyrBox02 {overflow:auto; position:absolute; top:20px; left:50%; width:900px; margin:0 0 0 -450px; border-radius:10px;}
.lyrWrap .lyrBox03 {overflow:auto; position:absolute; top:400px; left:50%; width:500px; margin:0 0 0 -250px; border-radius:10px;}
.lyrWrap .lyrBox04 {overflow:auto; position:absolute; top:100px; left:50%; width:500px; margin:0 0 0 -250px; border-radius:10px;}
.lyrWrap .downloadBox {position:absolute; top:50%; left:50%; width:400px; height:140px; margin:-70px 0 0 -200px; text-align:center; border-radius:10px; background:#000;}
.lyrWrap .downloadBox a {display:inline-block; padding:20px; color:#fff; font-size:18px; line-height:40px; vertical-align:middle; transition:all 0.3s ease-out;}
.lyrWrap .downloadBox a:hover, .downloadBox a:focus {color:#007eff; text-decoration:underline; transition:all 0.3s ease-out;}
.lyrWrap .downloadBox a img {display:inline-block; width:40px; margin:0 15px 0 0;}
.lyrWrap .downloadBox dl.updateTxt {display:block; padding:10px 0 0 0; border-top:1px solid rgba(255,255,255,0.2);}
.lyrWrap .downloadBox dl.updateTxt dt {display:inline-block; margin:0 10px 0 0;}
.lyrWrap .downloadBox dl.updateTxt dd {display:inline-block; color:#ccc;}

#lyr_modify {display:none;}
#lyr_delete {display:none;}
#lyr_add {display:none;}
#lyr_delete .lyr_mid {padding:40px 0;}

.lyrWrap .selectbox {width:280px; margin:1px 10px 0 15px; border-radius:3px; border:1px solid #ccd3df; background:#fff; transition:all 0.3s ease-out;}
.lyrWrap .selectbox.active {border:1px solid #008ad8; box-shadow:none; transition:all 0.3s ease-out;}
.lyrWrap .selectbox:before {right:5px;}
.lyrWrap .selectbox select {min-width:100px; min-height:32px; color:#333; border:1px solid #000;}
.lyrWrap .selectbox label {padding:0 5px; height:34px; color:#333; line-height:32px;}
.lyrWrap .selectbox select:hover {border:1px solid #000;}
.lyrWrap .selectbox:focus select {border:1px solid #008ad8;}

.ui-jqgrid-resize {position:absolute; width:100%; height:70%;}
.ui-th-column {position:relative; min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#31415d; word-break:normal;}
/* call layout */
.call_lot { display:table; width:100%;}
.call_lot .leftBox { display:table-cell; padding:0 0 0 0;}
.call_lot .rightBox { display:none; width:400px; height:100%; padding:0 0 0 50px; vertical-align:top;}

.callBox {display:table; position:relative; width:100%; height:100%; max-height:695px; border-radius:5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1);}

.callBox .call_mid { display:block; overflow:auto; position:relative; width:100%; max-height:400px; background:#f1f1f1; border:1px solid #c3c3c3;box-sizing:border-box;}

.callBox .call_mid .talkLst {clear:both; overflow:hidden; min-height:200px; margin:0; padding:0;}
.callBox .call_mid .talkLst li {clear:both; overflow:hidden; padding:10px;}
.callBox .call_mid .talkLst li.realTime { background:rgb(226, 226, 226);}

.callBox .call_mid .talkLst li.longTime {display:block; clear:both; overflow:hidden; height:25px; margin:10px 0; padding:0; background:url(images/bg_longtime.png) 0 0 repeat-x;}  
.callBox .call_mid .talkLst li.newDate {position:relative; margin:0 0 10px 0; text-align:center; background:url(../images/line_ccc.png) 0 center repeat-x;}
.callBox .call_mid .talkLst li.newDate span {display:inline-block; padding:0 10px; color:#aaa; background:#f6f6ff;}
.callBox .call_mid .talkLst li a {color:blue; text-decoration:underline;}
.callBox .call_mid .talkLst li .thumb i { display:inline-block; overflow:hidden; width:40px; height:40px; border-radius:50px;}

.callBox .call_mid .talkLst li.agent {display:table; width:calc(100% - 20px); text-align:left; vertical-align:top;}
.callBox .call_mid .talkLst li.agent .thumb {display:table-cell; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.callBox .call_mid .talkLst li.agent .thumb i.ico_thumb {background:#fff url(../images/ico_agent_bk.png) 50% 50% no-repeat; background-size:cover;}
.callBox .call_mid .talkLst li.agent .thumb img {overflow:hidden; width:100%;}
.callBox .call_mid .talkLst li.agent .cont {display:block; max-width:270px;}
.callBox .call_mid .talkLst li.agent .cont:last-child {margin:0;}
.callBox .call_mid .talkLst li.agent .cont .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.callBox .call_mid .talkLst li.agent .cont .txt {position:relative; display:inline-block; margin:0 5px 5px 10px; padding:10px; color:rgba(11,42,74,1.0); font-weight:500;font-size:14px; font-style:normal; text-align:left; word-break:normal; line-height:18px; border-radius:10px; box-shadow:0 0 5px #bbc7e7; background:#fff;}
.callBox .call_mid .talkLst li.agent .cont .txt:after {content:''; position:absolute; top:0; left:-10px; border-top:0 solid transparent; border-right:20px solid #fff; border-bottom:20px solid transparent;}
.callBox .call_mid .talkLst li.agent .date {display:block; margin:0 0 7px 0; padding:0 0 0 10px; color:#afafaf; font-size:11px; vertical-align:bottom;}
.callBox .call_mid .talkLst li.agent .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

.callBox .call_mid .talkLst li.client {display:table; width:calc(100% - 20px); text-align:right; vertical-align:top;}
.callBox .call_mid .talkLst li.client .thumb {float:right; overflow:hidden; width:50px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.callBox .call_mid .talkLst li.client .thumb i.ico_thumb { background:#fff url(../images/ico_client_b.png) 50% 50% no-repeat; background-size:cover;}
.callBox .call_mid .talkLst li.client .thumb img {overflow:hidden; width:100%;}
.callBox .call_mid .talkLst li.client .cont {float:right; max-width:270px;}
.callBox .call_mid .talkLst li.client .cont .txt {position:relative; display:inline-block; margin:0 0 2px 5px; padding:10px; color:#fff; font-size:13px;font-weight:500;font-style:normal; text-align:left; word-break:normal; border-radius:10px; background:#0678c8; box-shadow:1px 1px 2px #ccc;}
.callBox .call_mid .talkLst li.client .cont .txt:after {content:''; position:absolute; top:0; right:-10px; border-top:0 solid transparent; border-left:20px solid #0678c8; border-bottom:20px solid transparent;}
.callBox .call_mid .talkLst li.client .date {display:block; margin:0 0 3px 0; padding:0; color:#afafaf; font-size:12px; text-align:right; vertical-align:bottom;}
.callBox .call_mid .talkLst li.client .date b {display:inline-block; margin:0 5px 0 0; color:#afafaf; font-size:11px; font-weight:normal;}

/* call player */
.playerBox {display:table; width:100%; height:24px; padding:7px 5px; color:#333; line-height:24px; box-sizing:border-box; background:#f1f1f1;}
.playerBox button {width:100%; height:100%; border:none; background:#ccc; box-sizing:border-box;}
.playerBox button span {display:block; overflow:hidden; text-indent:-999px;}
.playerBox>span {height:100%; font-size:11px; box-sizing:border-box;}
.playerBox>div{display:table-cell; position:relative; height:100%; padding:0 5px; text-align:center; vertical-align:middle; box-sizing:border-box;}

.playerBox .player_button {width:100px; text-align:center;}
.playerBox .player_button button {display:inline-block; float:left; width:calc(33.3333% - 2px); margin:0 1px; padding:0; font-size:11px; line-height:20px; text-indent:0; border:1px solid #c2c8d8; border-radius:3px;}
.playerBox .player_button button.btn_player_speedDown {background:#fff url("../images/ico_player_speedDown_db.png") 50% 50% no-repeat; background-size:45%;}
.playerBox .player_button button.btn_player_play {background:#fff url("../images/ico_player_play_db.png") 50% 50% no-repeat; background-size:40%;}
.playerBox .player_button button.btn_player_play.pause {background:#fff url("../images/ico_player_pause_db.png") 50% 50% no-repeat; background-size:45%;}
.playerBox .player_button button.btn_player_speedUp {background:#fff url("../images/ico_player_speedUp_db.png") 50% 50% no-repeat; background-size:45%;}

.playerBox .player_speed {width:30px;}
.playerBox .player_speed span {display:inline-block; height:16px; padding:0 7px; color:#fff; font-size:11px; line-height:16px; border-radius:10px; background:#9ca4b9;}

.playerBox .player_bar {}
.playerBox .player_bar .player_bar_streaming {display:flex; position:relative; height:12px; margin:0; flex-basis:0; flex-grow:1; cursor: pointer;}
.playerBox .player_bar .player_bar_streaming:before {content:''; position:absolute; top:5px; width:100%; height:4px; border-radius:10px; background-color:#c2c8d8;}
.playerBox .player_bar .player_bar_streaming > em {position:absolute; left:0; top:5px;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {height:4px; background:rgba(0,0,0,0.05); z-index:1;}
.playerBox .player_bar .player_bar_streaming .player_bar_played {flex-direction:row-reverse; height:4px; border-radius:10px; background:#0678c8; z-index:2;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {content: ''; display:flex; position:absolute; top:-4px; right:-1px; border:2px solid #6c758e; width:12px; height:12px; margin-right:-5px; border-radius:6px;  background-color:#fff; box-sizing:border-box;}

.playerBox .player_time {width:90px; font-size:11px;}
.playerBox .player_time .current {}
.playerBox .player_time .duration {color:#9ca4b9;}

.playerBox .player_volume {width:100px;}
.playerBox .player_volume .player_bar_button {display:flex; align-items:center; width:24px; height:24px; cursor:pointer;}
.playerBox .player_volume .player_bar_button a {position:relative; width:6px; height:8px; vertical-align:middle; background:#9ca4b9;}
.playerBox .player_volume .player_bar_button a:before, .playerBox .player_volume .player_bar_button a:after {content:''; position:absolute;}
.playerBox .player_volume .player_bar_button a:before {top:-4px; left:0; width:0; height:0; border-top: 8px solid transparent; border-right:9px solid #9ca4b9; border-bottom:8px solid transparent; /*! border-left: none; */}
.playerBox .player_volume .player_bar_button a:after {top:-2px; left:10px; width:6px; height:6px; border:6px double #9ca4b9; border-width:6px 6px 0 0; border-radius:0 12px 0 0; transform:rotate(45deg);}
.playerBox.muted .player_volume .player_bar_button a {background-color:#4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right:9px solid #4f5669;}
.playerBox.muted .player_volume .player_bar_button a:after {display:none;}

.playerBox .player_volume .player_bar_adjust {position:absolute; top: 50%; right:5px; margin:-2px 0 0 0;}
.playerBox .player_volume .player_bar_adjust span {display:flex; overflow:hidden; position:relative; width:60px; height:4px; border-radius:5px; background-color:#c2c8d8; cursor:pointer;}
.playerBox .player_volume .player_bar_adjust span em {position:absolute; top:0; left:0; height:4px; background-color:#0678c8;}



@media screen and (-webkit-min-device-pixel-ratio:0){
  #container {height:100%;}
}

.modal-mask {
  position:fixed;
  z-index:9998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, .5);
  display:table;
  transition:opacity .3s ease;}

.modal-wrapper {
  display:table-cell;
  vertical-align:middle;}

.modal-container {
  width:300px;
  margin:0px auto;
  padding:20px 30px;
  background-color:#fff;
  border-radius:2px;
  box-shadow:0 2px 8px rgba(0, 0, 0, .33);
  transition:all .3s ease;
  font-family:Helvetica, Arial, sans-serif;}

.modal-header h3 {
  margin-top:0;
  color:#42b983;}

.modal-body {
  margin:20px 0;}

.modal-default-button {
  float:right;}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity:0;}

.modal-leave-active {
  opacity:0;}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.visual_stn {
  overflow:hidden;
  padding-bottom:15px;}

.visual_stn .tbl_fl {
  width:100%;
  float:left;
  transition:all 0.5s ease-out;}

.visual_stn .graph_fr {
  display:none;
  width:50%;
  float:right;
  height:306px;
  background:#fff;
  transition:all 1.2s ease-out;
  -webkit-animation:widgrow 1.2s ;
  animation:widgrow 1.2s ease-out;}

.visual_stn .graph_fr_b {
  display:block;
  width:calc(50% - 30px);
  float:right;
  padding:15px;
  height:270px;
  background:#fff;
  transition:all 1.2s ease-out;
  -webkit-animation:widgrow 1.2s ;
  animation:widgrow 1.2s ease-out;}

/* table(List) */
.tbl_box {
  max-height:493px;
  overflow:auto;
  transition:all 0.8s ease-out;}

.tbl_box_b {
  background:#FFFFFF;
  overflow:hidden;
  height:300px;
  transition:all 0.8s ease-out;}

.tbl_box_c {
  background:#FFFFFF;
  overflow:auto;
  height:250px;
  transition:all 0.8s ease-out;}

.tblpg_a {
  width:100%;
  float:left;
  transition:all 0.3s ease-out;}

.tblpg_b {
  float:left;
  transition:all 0.3s ease-out;
  width:48%;}

.detect_a {
  max-height: 600px;
}
.detect_b {
  max-height: 189px;
}

.tblpg_b tr {
  height:29px;}

.stn_b {
  display:none;}

#wordCloud {
}

/* button */
.btnBox{display:block; padding:0 30px 20px 30px; text-align:center;}
.btnBox button{display:inline-block; height:100%; margin:0 10px 0 0; padding:0 20px; font-size:13px; text-align:center; border:1px solid #999; border-radius:5px; transition:all 0.3s ease-out;}
.btnBox button:hover, .btnBox button:focus{text-decoration:underline; box-shadow:0 2px 4px rgba(11,42,74,0.4); transition:all 0.3s ease-out;}
.btnBox button span{display:block; line-height:12px;}
.btnBox button img{vertical-align:middle;}
.btnBox button:disabled{cursor:default;}
.btnBox button:disabled:hover, .btnBox button:disabled:focus{text-decoration:none; box-shadow:none;}
.btnBox button:last-child{margin-right:0;}

.btnBox.sz_small button{min-width:70px; height:32px; padding:0 15px; font-size:12px;}
.btnBox.sz_small button img{display:inline-block; width:13px; margin:-3px 7px 0 0;}

button.btnS_basic{min-width:70px; height:32px; padding:0 15px; font-size:12px; color:#fff; border:1px solid #008ad8; background:#0678c8;}
button.btnS_basic img{display:inline-block; width:13px; margin:-3px 7px 0 0;}
button.btnS_basic:disabled{color:rgba(11,42,74,0.4); border:1px solid rgba(11,42,74,0.02);  background:rgba(11,42,74,0.1);}
button.btnS_line{min-width:70px; height:32px; padding:0 15px; font-size:12px;color:#008ad8; border:1px solid #008ad8; background:#fff;}
button.btnS_line img{display:inline-block; width:13px; margin:-3px 7px 0 0;}
button.btnS_line:disabled{color:rgba(11,42,74,0.25); border:1px solid rgba(11,42,74,0.2); background:#fff;}
.srchArea + .btnBox{ text-align:right;}

.dateBox {display:inline-block;}
.dateBox .ipt_date{width:150px; height:31px; margin:0; padding:0 5px; color:rgba(11,42,74,1.0); font-size:13px; font-weight:normal; border:1px solid rgba(11,42,74,0.2); border-radius:5px; background:url("../images/ico_date_bk.png") right 5px center no-repeat; transition:all 0.3s ease-out;}
.dateBox .ipt_date:focus{border:1px solid #008ad8; background:url("../images/ico_date_b.png") right 5px center no-repeat; transition:all 0.3s ease-out;}
.dateBox .ipt_date + span{display:inline-block; margin:0 5px;}
 
.dlBox {display:block; clear:both; overflow:hidden; width:100%; border-bottom:1px solid #eef1f7;}
.dlBox dt {float:left; width:100px; min-height:30px; padding:7px 10px; color:#fff; font-size:14px; text-align:right; vertical-align:middle; line-height:30px; background:#9ca4b9;}
.dlBox dd {float:left; width:calc(50% - 140px); padding:5px 10px; vertical-align:middle;}
.dlBox dd.w100 {width:calc(100% - 140px);}

.keywordSrch {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100;}
.keywordSrch .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.keywordSrch .lyrBox {overflow:hidden; position:absolute; top:30%; left:50%; width:600px; margin:0 0 0 -300px; border-radius:10px; background:#fff;}
.keywordSrch .lyr_top {display:block; height:30px; padding:7px 20px; background:#2d374f;}
.keywordSrch .lyr_top h3 {float:left; margin:5px 0 0 0; color:#fff; font-size:15px;}
.keywordSrch .lyr_top .btn_lyr_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-99px; border:none; border-color:none; background:url(../images/btn_legacy_close_w.png) 50% 50% no-repeat; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.keywordSrch .lyr_top .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}

.keywordSrch .lyr_mid {display:block; overflow:auto; max-height:700px;padding:0; background:#f1f4f9;}
.keywordSrch .lyr_btm {display:block; clear:both; overflow:hidden; min-height:30px; padding:10px 20px; text-align:center;  background:#fff;}

.keyword_srch_lst {display: block; clear:both; overflow:hidden; padding:20px;}
.keyword_srch_lst li {float:left; width:25%; margin:0 0 10px 0;}

.configMng {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100;}
.configMng .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.configMng .lyrBox {overflow:hidden; position:absolute; top:30%; left:50%; width:600px; margin:0 0 0 -300px; border-radius:10px; background:#fff;}
.configMng .lyr_top {display:block; height:30px; padding:7px 20px; background:#2d374f;}
.configMng .lyr_top h3 {float:left; margin:5px 0 0 0; color:#fff; font-size:15px;}
.configMng .lyr_top .btn_lyr_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-99px; border:none; border-color:none; background:url(../images/btn_legacy_close_w.png) 50% 50% no-repeat; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.configMng .lyr_top .btn_lyr_close:hover, .lyrWrap .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}

.configMng .lyr_mid {display:block; overflow:auto; max-height:700px;padding:0; background:#f1f4f9;}
.configMng .lyr_btm {display:block; clear:both; overflow:hidden; min-height:30px; padding:10px 20px; text-align:center;  background:#fff;}

.keyword_srch_lst {display: block; clear:both; overflow:hidden; padding:20px;}
.keyword_srch_lst li {float:left; width:25%; margin:0 0 10px 0;}

/* Input */
.iptBox{display:table; position:relative; width:100%;}
.iptBox .ipt_txt{display:block; width:calc(100% - 12px); height:32px; padding:0 10px; color:rgba(11,42,74,1.0); font-size:13px; border:1px solid rgba(11,42,74,0.2); border-radius:5px; transition:all 0.3s ease-out;}
.iptBox .ipt_txt:focus{border:1px solid #008ad8; transition:all 0.3s ease-out;}

/* checkBox */
.keyword_srch_lst li .checkBox{display:inline-block; position:relative; margin:0 15px 0 0;}
.keyword_srch_lst li .checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.keyword_srch_lst li .checkBox input[type="checkbox"] + label{display:inline-block; overflow:visible; position:relative; width:auto; height:auto; margin:0 10px 0 0; padding-left:25px; color:#2d2d2d; font-size:13px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.keyword_srch_lst li .checkBox input[type="checkbox"] + labe:last-child{margin:0;}
.keyword_srch_lst li .checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:0; left:0; width:19px; height:19px; line-height:17px; text-align:center; border:1px solid rgba(11,42,74,0.4); border-radius:3px; background:#fff;}
.keyword_srch_lst li .checkBox input[type="checkbox"] + label:active:before, .keyword_srch_lst li .checkBox input[type="checkbox"]:checked + label:active:before{}
.keyword_srch_lst li .checkBox input[type="checkbox"]:focus + label {text-decoration:underline;}
.keyword_srch_lst li .checkBox input[type="checkbox"]:focus + label:before {border-color:#008ad8;}
.keyword_srch_lst li .checkBox input[type="checkbox"]:checked + label:before{content:'\2714'; color:#fff;  border-color:#008ad8; background:linear-gradient(45deg, #008ad8, #00aebc);}
.keyword_srch_lst li .checkBox input[type="checkbox"]:disabled + label:before{background:rgba(11,42,74,0.1);}

.lyr_btm .iptBox {display:inline-block; float:left; width:auto;}
.lyr_btm .iptBox .ipt_txt {display:inline-block; width:300px;}
.lyr_btm .btnBox {float:right; padding:0;}

table.scroll{width:100%; display:table;}
table.scroll thead{float:left; width:100%;}
table.scroll thead th{display:table-cell; min-width:10px;}
table.scroll thead tr:after{content:'';display:table-cell; width:15px; border-bottom:2px solid rgba(11,42,74,1.0);}
table.scroll tbody{overflow-y:auto; overflow-x:hidden; float:left; width:100%; max-height:170px; background:#fff;}
table.scroll thead tr,table.scroll tbody tr{display:table; width:100%;}
table.scroll tbody td{display:table-cell; min-width:50px;}


.tblBoxScroll{display:block; overflow:auto;}

.longCall {background:#6666;}

.highlight {background:#FFFF00;}

.playingHighlight {background:#fffcde}

.dialog {
    text-align: center;
    font-size: 15px;
}
.tblBoxScroll::-webkit-scrollbar{width:7px;}
.tblBoxScroll::-webkit-scrollbar-track {background-color:#f1f1f1;}
.tblBoxScroll::-webkit-scrollbar-thumb {background-color:#c1c1c1;border-radius:10px;}
.tblBoxScroll::-webkit-scrollbar-thumb:hover {background:#a8a8a8;}
.tblBoxScroll::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:7px;height:7px;background:#eaeaea;}

.btn_plr { position:absolute; top:0; right:0;}
.btn_plr button{display:inline-block; overflow:hidden; width:30px; border:1px solid #c2c8d8; border-radius:3px; text-indent:-999px;}
.btn_plr .btnSpeedDown {background:#fff url(../images/ico_player_speedDown_db.png) 50% 50% no-repeat; background-size:40%;}
.btn_plr .speedTxt {display:inline-block; height:16px; margin:0 3px;  padding:0 7px; color:#fff; font-size:11px; line-height:16px; border-radius:10px; background:#9ca4b9;}
.btn_plr .btnSpeedUp {background:#fff url(../images/ico_player_speedUp_db.png) 50% 50% no-repeat; background-size:40%;}

.ui-draggable .ui-dialog-titlebar {
  background: #2d374f;
}
