@charset "utf-8";
/* MINDsLab YMJ 20180128 */ 

/* [reset css] */
* {font-family:'Noto Sans KR', sans-serif;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:'Noto Sans KR','NanumSquare',sans-serif; background:#fff; font-size:12px; color:rgba(11,42,74,1.0); line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;} 
table {border-spacing:0; border-collapse:collapse; font-family:'Noto Sans KR',sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;} 
ol,ul,li {list-style:none;} 
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; color:#0678c8; cursor:pointer; font-family: ‘Noto Sans KR’;font-weight: 600;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#333; text-decoration:none;}
textarea {overflow:auto; resize: none;} 
html:first-child select {min-height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
label {font-family:'Noto Sans KR','NanumSquare',sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:'Noto Sans KR', sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}

input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}
input {filter:none;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px none inset; -webkit-text-fill-color:#000;} 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s; }
input:focus{outline:none;}
select:focus{outline:none;}
/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/